<div class="panel panel primary">
    <div class="panel-heading">
        <h2 style="color: blueviolet;">Employee List</h2>
    </div>

    <div class="panel-body">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee.id}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.age}}</td>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>